<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail personal diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha25
6-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
    </style>
    <script>

        let word = `{{ word }}`;
        $(document).ready(function () {
            // get_definitions();
            get_examples();
        });
        function get_definitions() {
            let api_key = 'e74b8091-20e7-49d2-982c-bb8dcbbd7faf';
            let url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function (response) {
                    let def = response[0];
                    let category = def.fl;
                    let shortdef = def.shortdef[0];
                    let date = def.date;
                    let temp_html = `
          <div style="padding: 10px">
            <i>${category}</i>
            <br />
            ${shortdef}
            <br />
            <span class="example">${date}</span>
          </div>
                    `;
                    let container = $('#definition');
                    container.empty();
                    container.append(temp_html);
                }
            });
        }


        function save_word() {
            let defs = JSON.parse(`{{ definitions | tojson }}`);
            for (let i = 0; i < defs.length; i++) {
                let def = defs[i];
                let category = def.fl;
                let shortdef = def.shortdef[0];
                let date = def.date;
                defs[i] = {
                    category: category,
                    shortdef: shortdef,
                    date: date
                }
            }
            let data = {
                word_give: word,
                definitions_give: defs,
            }
            $.ajax({
                type: 'POST',
                url: '/api/save_word',
                data: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json',
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.href = `/detail/${word}?status_give=old`;
                    } else {
                        alert('Something went wrong');
                    }
                }
            });
        }
        function delete_word() {
            $.ajax({
                type: 'POST',
                url: '/api/delete_word',
                data: {
                    word_give: word
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        window.location.href = `/detail/${word}?status_give=new`;
                    } else {
                        alert('Something went wrong...');
                    }
                }
            });
        }

        function get_examples() {
            let list = $('#example-list');
            list.empty();
            $.ajax({
                type: 'GET',
                url: `/api/get_exs?word=${word}`,
                data: {},
                success: function (response) {
                    console.log(response);
                    if (response.result === 'success') {
                        let temp_html = '';
                        let examples = response.examples;
                        for (let i = 0; i < examples.length; i++) {
                            let example = examples[i];
                            let id = example.id;
                            let sentence = example.example;
                            temp_html += `<li>${sentence} .&nbsp;&nbsp;&nbsp;
                        <a href="javascript:delete_ex('${id}')">delete</a>
                    </li>`;
                        }
                        list.append(temp_html);
                    }
                }
            });
        }

        function add_ex() {
            let new_ex = $('#new-example').val();

            $.ajax({
                type: 'POST',
                url: '/api/save_ex',
                data: {
                    example: new_ex,
                    word: word,
                },
                success: function (response) {
                    console.log(response);
                    if (response.result === 'success') {
                        alert(response.msg);
                        get_examples();
                    }

                }
            })
        }
        function delete_ex(id) {
            console.log("delet", id);
            $.ajax({
                type: 'POST',
                url: '/api/delete_ex',
                data: {
                    word: word,
                    id: id
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg);
                        get_examples();
                    }

                }

            })
        }

    </script>
</head>

<body>
    <div class="container">
        <div class="warp">
            <div class="banner" onclick="window.location.href='/';"></div>
            <div class="container2">
                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <h1 id="word" style="display:inline;">
                            {{ word }}</h1>
                    </div>
                </div>
                <hr>
                <div id="definition">
                    {% for def in definitions %}
                    {% set category = def.fl %}
                    {% set shortdef = def.shortdef[0] %}
                    {% set date = def.date %}
                    <div style="padding: 10px">
                        <i>{{category}}</i>
                        <br />
                        {{shortdef}}
                        <br />
                        <span class="example">{{date}}</span>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                {% if status == 'new' %}
                <button id="btn-save" onclick="save_word()" class="btn btn-secondary btn-sparta-outline btn-lg">
                    SAVE
                </button>
                {% else %}
                <button id="btn-delete" onclick="delete_word()" class="btn btn-secondary btn-sparta btn-lg">
                    DELETE
                </button>
                {% endif %}
                <div id="examples">
                    <h3 style="text-align:center; margin-bottom:1rem;">write your own setences!</h3>
                    <ul id="example-list">

                    </ul>
                </div>
                <div class="d-flex justify-content-between" style="margin-left:20px">
                    <input type="text" id="new-example" class="form-control form-control-sm">
                    <button class="btn btn-outline-secorndary btn-sm" onclick="add_ex()">add</button>
                </div>
            </div>


        </div>
        <h1>detail.html- {{ word }}</h1>
        <footer class="card-body">
            <a href="/">
                <h5 class="card-title">home</h5>
            </a>
            <hr>
            <p>@ 2023 Diska romandoni</p>
        </footer>
    </div>

</body>

</html>